<%= render 'shared/error_messages', object: f.object %>

<div class="row">
  <div class="span4">
    <strong>Information about policy</strong>
    <div class="well">
      <%= f.label :number, "Number" %>
      <%= f.text_field :number %>

      <%= f.label :date, "Date"%>
      <%= f.date_field :date %>

      <%= f.label :datestart, "Date start" %>
      <%= f.date_field :datestart %>

      <%= f.label :datefinish, "Date finish" %>
      <%= f.date_field :datefinish %>

      <%= f.label :cost, "GPW" %>
      <%= f.text_field :cost %>
    </div>
  </div>

  <div class="span4">
    <strong>Strahovatel:</strong>
    <div class="well">

      <%= f.fields_for :strahovatel do |s_form| %>
        <%= s_form.label :firstname %>
        <%= s_form.text_field :firstname %>
        <%= s_form.label :lastname %>
        <%= s_form.text_field :lastname %>
        <%= @organizations.nil? ? "organizations nil" : s_form.collection_select(:organization_id, @organizations, :id, :name) %>
      <% end %>
    </div>
  </div>
  <div class="span4">
    <strong>Zastrahovanniy:</strong>
    <div class="well">
      <%= f.fields_for :zastrahovanniy do |z_form| %>
        <%= z_form.label :firstname %>
        <%= z_form.text_field :firstname %>
        <%= z_form.label :lastname %>
        <%= z_form.text_field :lastname %>
      <% end %>
    </div>
  </div>
</div>
<br />