<h1>Edit policy: <%= @contract.number %> </h1>

<div class="row">

  <div class="span4">
    <strong>Information about policy</strong>
    <div id="policy_fields" class="well">
      <%= form_for(@contract) do |f| %>
        <%= render 'contract_fields', f: f %>
        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
        <% end %>
      </div>
    </div>

  <%= render 'people_fields' %>
  </div>