<h1>Policies</h1>

<table class="table table-bordered table-striped">
  <tr>
    <th><%= t "contract.view.index.number" %></th>
    <th><%= t("contract.view.index.date") %></th>
    <th><%= t("contract.view.index.date_start") %></th>
    <th><%= t("contract.view.index.date_finish") %></th>
    <th><%= t("contract.view.index.strahovatel") %></th>
    <th><%= t("contract.view.index.zastrahovanniy") %></th>
    <th><%= t("contract.view.index.cost") %></th>
    <th><%= t("contract.view.index.ikp") %></th>
    <th></th>
  </tr>
 
<%= render @contracts %>

</table>
<%= will_paginate %>
<br>
 
<%= link_to "New policy", new_contract_path %>
