<h1>New policy:</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@contract) do |f| %>

      <%= f.label :number %>
      <%= f.text_field :number %>

      <%= f.label :date %>
      <%= f.date_field :date %>

      <%= f.label :datestart %>
      <%= f.date_field :datestart %>

      <%= f.label :datefinish %>
      <%= f.date_field :datefinish %>

      <%= f.label :strahovatel_id %>
      <%= f.text_field :strahovatel_id %>

      <%= f.label :zastrahovanniy_id %>
      <%= f.text_field :zastrahovanniy_id %>

      <%= f.label :cost %>
      <%= f.text_field :cost %>

      <br />
      <%= f.submit "Save new policy", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>