<div class="row-fluid">
  <% if user_signed_in? %>
    <div class="span9">
    Current user: 
    <%  if(current_user.firstname.nil? || current_user.lastname.nil?) %>
      <%= current_user.login %>
    <% else %>
      <%= current_user.lastname+" "+current_user.firstname %>
    <% end %>
    </div>
    <div class="span3">
      <%= link_to "Profile", edit_user_registration_path%>
      <%= link_to "Sign out", destroy_user_session_path, method: "delete" %>
    </div>
  <% else %>
    <div class="span3 offset9">
      <%= link_to "Sign up", new_user_registration_path%>
      <%= link_to "Sign in", new_user_session_path %>
    </div>
  <% end %>
</div>   